.container {
  padding: 0 2rem;
}

.main {
  min-height: 92vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.top_menu {
  background: var(--color-dark);
  height: 8vh;
  color: var(--color-detail);
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top_menu > * {
  cursor: pointer;
}
